<div class="container mt-5">
  <form action="">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" placeholder="Ingrese su nombre">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" class="form-control" placeholder="Ingrese su apellido">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Correo</label>
          <input type="text" class="form-control" placeholder="Ingrese su correo">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Cedula</label>
          <input type="text" class="form-control" placeholder="Ingrese su cedula">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Cedula</label>
          <input type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Telefono</label>
          <input type="tel" class="form-control" placeholder="Ingrese su telefono">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="">Imagen</label>
          <input type="file" class="form-control-file" >
        </div>
      </div>
      <div class="col-sm-12">
        <progressbar [value]="22" type="danger" [striped]="true">22%</progressbar>
      </div>
      <button class="btn btn-primary">Agregar</button>
    </div>
  </form>
</div>