<div class="container mt-5">
  <form [formGroup]="formularioCliente">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
          <div *ngIf="formularioCliente.controls['nombre'].dirty && formularioCliente.controls['nombre'].invalid" class="alert alert-danger mt-1">
            <span *ngIf="formularioCliente.controls['nombre'].errors.required">Se requiere el nombre</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese su apellido">
          <div *ngIf="formularioCliente.controls['apellido'].dirty && formularioCliente.controls['apellido'].invalid" class="alert alert-danger mt-1">
            <span *ngIf="formularioCliente.controls['apellido'].errors.required">Se requiere el nombre</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Correo</label>
          <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese su correo">
          <div *ngIf="formularioCliente.controls['correo'].dirty && formularioCliente.controls['correo'].invalid" class="alert alert-danger mt-1">
            <span *ngIf="formularioCliente.controls['correo'].errors.required">Se requiere el correo</span>
            <span *ngIf="formularioCliente.controls['correo'].errors.email">El correo es incorrecto</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Cedula</label>
          <input type="text" class="form-control" formControlName="cedula" placeholder="Ingrese su cedula">
          <div *ngIf="formularioCliente.controls['cedula'].dirty && formularioCliente.controls['cedula'].invalid" class="alert alert-danger">
            <span *ngIf="formularioCliente.controls['cedula'].errors.required">Se requiere la cedula</span>
            <span *ngIf="formularioCliente.controls['cedula'].errors.maxlength">Debe tener 8 caracteres</span>
            <!-- <span *ngIf="formularioCliente.controls['cedula'].errors."></span> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Fecha de nacimiento</label>
          <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Ingrese su fecha de nacimiento">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Telefono</label>
          <input type="tel" class="form-control" formControlName="telefono" placeholder="Ingrese su telefono">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="">Imagen</label>
          <input type="file" (change)="subirImagen($event)" class="form-control-file" formControlName="imgUrl">
        </div>
      </div>
      <div class="col-sm-12">
        <progressbar [value]="porcentajeSubida" type="danger" [striped]="true">{{porcentajeSubida}}%</progressbar>
      </div>
      <button class="btn btn-primary mt-2" (click)="agregar()">Agregar</button>
    </div>
  </form>
</div>